.path_circle {
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s ease-in-out 0.3s;
}
.path_circle.visible {
  width: 40px;
  height: 40px;
  opacity: 1;
  transform: scale(1);
}
.path_stick {
  width: 3px;
  height: 0px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.8s ease-in-out 0.6s; 
}
.path_stick.visible {
  width: 3px;
  height: 112px;
  opacity: 1;
  transform: scale(1);
}
@media (max-width: 376px) {
  .experienceStep{
      width: 100% !important;
      height: 220px !important;
  }
  .path_stick.visible{
    height: 180px !important;
  }
  .year{
    font-size: 14px;
  }
  .path{
    margin-left: 10px !important;
  }
  .experience_text{
    padding-left: 15px;
  }
  .experience_title{
    width: 200px !important;
    font-size: 20px;
    font-weight: 500;
    width: auto;
  }
  .experience_description{
    font-size: 12px;
    font-weight: 300;
    width: 230px;
  }
}