@media (max-width: 376px) {
    .eduCardsContainer{
        width: 100%;
        height: 500px;
    }
    .eduCard{
        width: 100% !important;
        height: 220px;
    }
    .eduCard img{
        width: 90px;
    }
    .eduCard p{
        font-size: 12px;
    }
}
@media (max-width: 426px) {
    .eduCardsContainer{
        width: 100%;
        height: 500px !important;
    }
    .eduCard{
        width: 100% !important;
    }
    .eduCard p{
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .eduCardsContainer{
        width: 100%;
        height: 550px;
    }
    .eduCard{
        width: 100% !important;
    }
    .eduCard p{
        width: 70%;
    }
}