ul li a.active {
    text-shadow: #931FFF 2px 1px 2px;
    transition: all 0.4s ease;
}
ul li a:hover:not(.active) {
    text-shadow: #931FFF 2px 1px 2px;
    transition: all 0.4s ease;
}
.headerGear{
    transition: all 0.6s ease;
}
.headerGear:hover{
    transform: scale(1.2) rotate(360deg);
    opacity: 0.9;
}
@media (max-width: 376px) {
    header{
        padding: 20px !important;
    }
    .logo{
        width: 30px;
    }
    ul{
        width: 190px !important;
    }
    li{
        font-size: 14px;
        font-weight: 500;
    }
    select{
        font-size: 14px !important;
    }
}
@media (max-width: 426px) {
    header{
        padding: 20px !important;
    }
    .logo{
        width: 30px;
    }
    ul{
        width: 190px !important;
    }
    li{
        font-size: 14px;
        font-weight: 500;
    }
    select{
        font-size: 14px !important;
    }
}