.skill-slide {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 150px; 
    margin: 0 auto; 
}
@media (max-width: 376px) {
    .slick-next{
        margin-right: 20px !important;
    }
    .slick-prev{
        margin-left: 20px !important;
    }
    .slick-list{
        padding: 0 15px !important;
    }
}