@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Fredoka;
}
body.ukrainian {
    font-family: 'Montserrat', sans-serif;
  }
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #931FFF;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #1F1F1F;
}
.backgroundText{
    font-family: Rubik Glitch;
    text-shadow: #F3EFF5 2px 1px 2px;
}
::selection{
    background-color: #931FFF;
    color: #F3EFF5;
}