.sectionTitle {
    font-family: 'Russo One';
    font-size: 32px;
    font-weight: 400;
    color: #F3EFF5;
}
@media (max-width: 768px) {
    .sectionTitle {
        font-size: 24px;
    }
}
@media (max-width: 480px) {
    .sectionTitle {
        font-size: 18px;
    }
}

.copyrightAuthor{
    text-shadow: 2px 2px 2px #931FFF;
    margin-left: 4px;
}
.lineToAnimate {
    width: 0;
    transition: width 2s ease-in-out; 
}
.lineToAnimate.animate-width {
    width: 100%;
}
.socialMediaIcon{
    transition: all 0.4s ease;
}
.socialMediaIcon:hover {
    transform: scale(1.3) rotate(15deg);
    opacity: 0.9;
}
@media (max-width: 321px) {
    #about{
        height: 143vh;
    }
}
@media (max-width: 376px) {
    .sectionTitle {
        font-size: 20px !important;
    }
    .textCon{
        display: none;
    }
    #generalTextCon{
        display: block;
        width: 90%;
        font-size: 14px;
        height: auto;
        bottom: auto;
        position: absolute;
        top: 350px;
    }
    section{
        padding: 20px !important;
    }
    .mainPhoto{
        height: 400px;
        bottom: auto;
        top: 5px;
    }
    .mainSection{
        min-height: 740px;
    }
    .socialMediaIcons{
        top: 310px;
        width: 250px;
    }
    .decorationText{
        top: 150px;
        bottom: auto;
        font-size: 32px;
        width: 80%;
    }
    #skills{
        height: 2000px;
    }
    .experienceEducationCon{
        flex-direction: column;
    }
    #experience{
        height: 1500px;
    }
    #projects{
        height: 1550px;
    }
    .sectionSubtitle{
        font-size: 12px !important;
        width: 100%;
    }
    .footerContent{
        flex-direction: column;
    }
    .lineToAnimate{
        position: absolute;
        top: 50px;
        max-width: 90%;
    }
    .footerLeftPart img{
        width: 120px;
    }
    .footerLeftPart p{
        font-size: 12px !important;
        width: 100%;
    }
    #footer{
        height: 100vh;
    }
    .socialMediaIcons{
        width: 210px;
    }
    .socialMediaIcons svg{
        width: 25px;
    }
    .footerRightPart{
        margin-top: 25px;
        width: 100%;
    }
    .footerRightPart h4{
        font-size: 16px !important;
    }
    .footerRightPart p{
        font-size: 12px !important;
    }
    .footerListElement{
        align-items: flex-start;
    } 
    #footer .socialMediaIcons{
        width: 150px;
    }
}
@media (max-width: 426px) {
    .sectionTitle {
        font-size: 24px;
    } 
    .textCon{
        display: none;
    }
    #generalTextCon{
        display: block;
        width: 90%;
        font-size: 14px;
        height: auto;
        bottom: auto;
        position: absolute;
        top: 350px;
    }
    section{
        padding: 20px !important;
    }
    .mainPhoto{
        height: 400px;
        bottom: auto;
        top: 5px;
    }
    .mainSection{
        min-height: 740px;
    }
    .socialMediaIcons{
        top: 310px;
        width: 250px;
    }
    .decorationText{
        top: 150px;
        bottom: auto;
        font-size: 32px;
        width: 80%;
    }
    #skills{
        height: 240vh;
    }
    #experience{
        height: 1500px;
    }
    #projects{
        height: 1550px;
    }
    .sectionSubtitle{
        font-size: 12px !important;
        width: 100%;
    } 
    #faq{
        margin-top: 25px;
    }
    .footerContent{
        flex-direction: column;
    }
    .lineToAnimate{
        position: absolute;
        top: 50px;
        max-width: 90%;
    }
    .footerLeftPart img{
        width: 120px;
    }
    .footerLeftPart p{
        font-size: 12px;
        width: 100% !important;
    }
    #footer{
        height: 100vh;
    }
    .socialMediaIcons{
        width: 210px;
    }
    .socialMediaIcons svg{
        width: 25px;
    }
    .footerRightPart{
        margin-top: 25px;
        width: 80%;
    }
    .footerRightPart h4{
        font-size: 20px;
    }
    .contactsToCopy{
        font-size: 12px !important;
    }
    .footerListElement{
        align-items: flex-start;
    }
    .sectionSubtitle{
        margin-top: 0px;
    }
}
@media (max-width: 768px) {
    section{
        height: auto !important;
    }
    #faq{
        height: auto;
    }
    #footer{
        height: auto !important;
    }
    .footerLeftPart img{
        width: 150px;
    }
    .footerLeftPart p{
        font-size: 14px;
        width: 350px;
    }
    .footerRightPart h4{
        font-size: 20px;
    }
    .contactsToCopy{
        font-size: 12px !important;
    }
    .footerRightPart{
        width: 280px !important;
    }
}